     {% include "head.html" %}

<h1>Student_test</h1>

<form action = "{{ url_for('addquestion') }}" method = "POST">
	<button type="submit" name="insert">Insert Data</button><br><br>
	Type your question here: <input type="text" name="question"><br><br>
	Type your answer here: <input type="text" name="answer"><br><br>
	Type question skill here: <input type="text" name="skill"><br><br>
	Type question difficulty level here: <input type="text" name="difficulty"><br><br>
	Type question weigntage here: <input type="text" name="weigntage"><br><br>
	Type question type here: <input type="text" name="type"><br><br>
	Type test id here: <input type="text" name="test_id"><br><br>
	
</form>

<form action = "{{ url_for('addmultiple') }}" method = "POST" enctype = multipart/form-data>
	Insert from file:
	<p><input type = file name = file>
		<input type = submit value = Upload>
	</form><br><br>

	<form action = "{{ url_for('deletequery') }}" method = "POST">
		<input type="submit" name="delete" value="Delete Record"><br><br>
		Type the question id you want to delete: <input type="text" name="q_id"><br><br>
	</form>

	<form action = "{{ url_for('updatequestion') }}" method = "POST">
		<button type="submit" name="update">Update Data</button><br><br>
		Type the qid you want to change: <input type="text" name="qid"><br><br>
		Type your question here: <input type="text" name="question"><br><br>
		Type your answer here: <input type="text" name="answer"><br><br>
		Type question skill here: <input type="text" name="skill"><br><br>
		Type question difficulty level here: <input type="text" name="difficulty"><br><br>
		Type question weigntage here: <input type="text" name="weigntage"><br><br>
		Type question type here: <input type="text" name="type"><br><br>
		Type test id here: <input type="text" name="test_id"><br><br>
	</form>

	<form action = "{{ url_for('showdb') }}" method = "POST">
		<input type="submit" name="search" value="Search Student_test Database"><br><br>
		<select id = "select_type" name = "select_type">
			<option value = "">-- select one --</option>
			<option value = "all">All</option>
			<option value = "skill">Skill</option>
			<option value = "difficulty_level">Difficulty</option>
			<option value = "weigntage">Weigntage</option>
			<option value = "type">Question Type</option>
		</select>
		<select id = "select" name = "select">
			<option value="">-- select one --</option>
		</select>
	</form>
	<form action = "{{ url_for('showoption') }}" method = "POST">
		<input type="submit" name="search" value="Show Option type Database"><br><br>
	</form>

	<form action = "{{ url_for('advanced') }}" method = "POST">
		<input type="submit" name="advance" value="Show Advanced Query"><br><br>
	</form>	
	
<h2><a href = "\">go back to home page</a></h2>
