<!doctype html>
<html>
     {% include "head.html" %}
   <body style="/*padding-top: 8rem;*/">
     {% include "header.html" %}
  <script>
    $(document).ready(function () {
      let container = document.getElementById('lmp-graph');
      let data = {
        nodes: [{
          id: 0,
          length: 100,
          color: '#f5cc51',
          label: "Pre-algebra"
        }, {
          id: 1,
          length: 100,
          color: '#f5cc51',
          label: "Linear algebra"
        }, {
          id: 2,
          color: '#f5cc51',
          label: "Rocket Science"
        }],
        edges: [{
          from: 0,
          to: 2
        }, {
          from: 1,
          to: 2
        }]
      };
      let options = {
        nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 32
            },
            borderWidth: 2,
            shadow: true
        },
        edges: {
            width: 2,
            shadow:true
        }
      };
      let network = new vis.Network(container, data, options);
    });
  </script>
    <div class="container">
      <div class="row" style="margin-top: 90px; ">
        <div class="col-lg">
           <h2 style="margin-bottom: 10px; margin-left: -15px;">Dashboard</h2>
        </div>
      </div>
      <div class="row">
        <div style="background-color: #003366; color: white; line-height:
          206px; position: relative;" class="col-md-3 col-lmp">
            <div style="position: absolute; width: 3px; top: 0; bottom: 0; right: 0;" class="gradientbar-vert"></div> <div style="text-align: right; margin-left: 75px; margin-top: 20px; display: inline-block;">

              <h4 style="margin-bottom: 15px;"><span style="color:
                  #aaa;">Overview</span></h4>
              <h4 style="margin-bottom: 29px; color: #f5cc51;">Skill
                Graph
                </h4>
              <h4 style="margin-bottom: 29px;"><span style="color: #aaa;">Test
                  results</span></h4>
              <h4 style="margin-bottom: 29px;"><span style="color:
                  #aaa;">Feedback</span></h4>
            </div>
          </div>
          <div style="background-color: #eeeeee;" class="col-md-9">
            <div style="height: 256px;" id="lmp-graph">
            </div>
          </div>
          <div class="row lmp-dash-content">
          </div>
        </div>
      </div>
    </div>
   </body>
</html>
