<div class="gradientbar"></div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="top: 3px; height: 64px;">
  <a id="lmp-brand" class="navbar-brand" style="color: #aaa; margin-left: 30px;"
    href="http://kizvm.net:5001">
    <span class="lmp-brand-gr" style="display: inline-block; transform: rotate(8deg); margin: 0; position: relative; bottom: 0px;">Let</span>
    <span class="lmp-brand-w" style="display: inline-block; transform:
      rotate(-8deg); margin-left: -2px; position: relative; color: white; top: -1px;">Me</span>
    <span class="lmp-brand-gr" style="display: inline-block; transform: rotate(8deg); margin-left: -2px; position: relative; bottom: 0px;">Practice</span>
    <span class="lmp-brand-w" style="margin-left: -2px; color: white; position: relative;">!</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: #f5cc51;/*color: white;*/" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="float: right; margin-right: 30px;">
      <li class="nav-item">
        <a class="nav-link" href="http://kizvm.net:5001/signin">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://kizvm.net:5001/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
